@keyframes slideIn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.questionFormat_remainingQuestion_container {
	color: #07f6c9;
	font-size: 18px;
	margin-bottom: 16px;
}

.questionFormat_question_container {
	font-size: 20px;
	color: #fff;
	opacity: 1;
	letter-spacing: 0;
	min-height: 50px;
}

.questionFormat_options_container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	width: 100%;
}

.questionFormat_options_container .options_optionContainer {
	display: flex;
	gap: 16px;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background: #fff 0% 0% no-repeat padding-box;
	border: 2px solid #fff;
	box-shadow: 0px 2px 4px #3c80d108;
	mix-blend-mode: normal;
	border-radius: 8px;
	opacity: 1;
	padding: 20px;
	width: -webkit-fill-available;
	cursor: pointer;
}
.questionFormat_options_container .options_optionContainer.selected {
	/* background-color: #e6fefa !important; */
	border: 2px solid #06f8c9 !important;
}
.questionFormat_options_container .options_optionContainer.correct {
	background-color: #f0f9ee !important;
	border: 2px solid #6ac259 !important;
}
.questionFormat_options_container .options_optionContainer.wrong {
	background-color: #fde9ea !important;
	border: 2px solid #e92e30 !important;
}

.options_optionContainer .optionIndex {
	flex-grow: 0;
}
.options_optionContainer .optionIndex > span {
	background: #dedede 0% 0% no-repeat padding-box;
	mix-blend-mode: normal;
	border-radius: 8px;
	opacity: 1;
	padding: 10px 14px;
}
.options_optionContainer .optionIndex.selected > span {
	background: #06f8c9 0% 0% no-repeat padding-box !important;
}
.options_optionContainer .optionIndex.correct > span {
	background: #6ac259 0% 0% no-repeat padding-box !important;
}
.options_optionContainer .optionIndex.wrong > span {
	background: #e92e30 0% 0% no-repeat padding-box !important;
}
.options_optionContainer .optionText {
	flex-grow: 1;
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	color: #989898;
	opacity: 1;
}
.options_optionContainer .optionStatus {
	flex-grow: 0;
}
.options_optionContainer .optionStatus.selected > img {
}
.options_optionContainer .optionStatus > img {
	width: 30px;
	height: 30px;
}
.error {
	color: red;
}

.statusIndicator_list_container {
	width: 100%;
}
.statusIndicator_list_container .title {
	text-align: left;
	font-size: 12px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	margin-bottom: 16px;
}

.statusIndicator_list_container .statusIndicator_list_wrapper {
	display: flex;
	overflow-y: scroll;
	max-height: 200px; /* Set a maximum height to enable scrolling */
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.statusIndicator_list_wrapper .statusIndicator_list {
	/* width: 100%; */
	/* overflow-y: scroll; */
	display: flex;
	flex-direction: row;
	gap: 16px;
	justify-content: space-evenly;
	align-items: center;
}
.statusIndicator_list .statusIndicator_list_item {
	width: 34px;
	height: 34px;
	background: #fff 0% 0% no-repeat padding-box;
	opacity: 1;
	border: 1px solid #ececec;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.statusIndicator_list .statusIndicator_list_item .questionNumber {
	text-align: center;
	font-size: 10px;
	letter-spacing: 0px;
	color: #161e21;
	opacity: 1;
}
.statusIndicator_list .statusIndicator_list_item.active {
	background: #06f8c965 0% 0% no-repeat padding-box;
	border: 1px solid #06f8c9;
}
.statusIndicator_list .statusIndicator_list_item .statusDot {
	width: 6px;
	height: 6px;
	background-color: #ececec;
	border-radius: 50%;
}
.statusIndicator_list .statusIndicator_list_item .statusDot.correct {
	background-color: #6ac259 !important;
}
.statusIndicator_list .statusIndicator_list_item .statusDot.wrong {
	background-color: #e92e30 !important;
}

.timeRemaining_label {
	position: relative;
	top: -22px;
	left: 16px;
	font-size: 14px;
}
.timeRemaining_progressBar {
	background-color: #252c4a 0% 0% no-repeat padding-box !important;
}
.timeRemaining_container {
	width: 100%;
}
.questionFormat_options_container .answerExplation {
	border-radius: 8px;
	opacity: 1;
	padding: 20px;

	text-align: left;
	font-size: 16px;
	letter-spacing: 0px;
	opacity: 1;
}
.questionFormat_options_container .answerExplation.correct {
	background: #f0f9ee 0% 0% no-repeat padding-box;
	border: 3px solid #6ac259;
	color: #6ac259;
}
.questionFormat_options_container
	.answerExplation.correct
	.correctOptionBullet {
	background: #6ac259 0% 0% no-repeat padding-box;
	mix-blend-mode: normal;
	border-radius: 8px;
	opacity: 1;
	padding: 10px 14px;
	margin-right: 16px;
	color: #fff;
}
.questionFormat_options_container .answerExplation.wrong {
	background: #fde9ea 0% 0% no-repeat padding-box;
	border: 3px solid #e92e30;
	color: #e92e30;
}
.questionFormat_options_container .answerExplation.wrong .correctOptionBullet {
	background: #e92e30 0% 0% no-repeat padding-box;
	mix-blend-mode: normal;
	border-radius: 8px;
	opacity: 1;
	padding: 10px 14px;
	margin-right: 16px;
	color: #fff;
}
