/* Styles for  - quizRules.tsx - START */
.quizRule_container {
	display: flex;
	flex-direction: column;
}
.quizRule_container .headerBanner {
	/* width: 336px; */
	height: 54px;
	text-align: center;

	opacity: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 0;
}
.quizRule_container .headerBanner > span {
	font-size: 18px;
	letter-spacing: 0px;
	color: #ffffff;
	position: relative;
	display: inline-block;
}

.quizPlaygroundPage_container .footerAction,
.quizRule_container .footerAction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	margin: 20px 0px;
	width: 100%;
}
.quizPlaygroundPage_container .footerAction .btn_next,
.quizRule_container .footerAction .btn_next {
	flex-grow: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 90%;
	height: 59px;
	background: transparent linear-gradient(180deg, #04faca 0%, #46a0ae 100%) 0%
		0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 10px;
	opacity: 1;
}
.quizRule_container .quizPlaygroundPage_ruleList_container {
	height: 650px;
	overflow-y: scroll;
	flex-grow: 0;
	padding: 0px 14px;
}
.quizRule_container .quizPlaygroundPage_ruleList_container .list {
	margin: 16px 0px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.list .ruleContainer {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.list .ruleContainer .ruleTitle {
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	color: #08f4c7;
	opacity: 1;
	margin-left: 20px;
}
.list .ruleContainer .ruleList {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.list .ruleContainer .ruleList .row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
}
.list .ruleContainer .ruleList .row .bulletPoint > img {
	width: 16px;
	height: 16px;
}
.list .ruleContainer .ruleList .row .description {
	color: #fff;
	text-align: left;
	font-weight: lighter;
	font-size: 12px;
	letter-spacing: 0.8px;
	opacity: 1;
}
.list .ruleContainer .ruleList .description .row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
	margin: 20px 0px;
}
.list .ruleContainer .ruleList .description .row .bulletPoint > img {
	width: 9px;
	height: 9px;
}
.list .ruleContainer .ruleList .description .row .description {
	color: #fff;
	text-align: left;
	font-weight: lighter;
	font-size: 12px;
	letter-spacing: 0.8px;
	opacity: 1;
}
/* Styles for  - quizRules.tsx - END */

/* Styles for  - quizConfiguration.tsx - START */
.quizPlayground_configuration_container {
	display: flex;
	flex-direction: column;
	gap: 35px;
	width: 100%;
}
.quizPlayground_configuration_container .row {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}
.quizPlayground_configuration_container .row .sectionHeader {
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
.quizPlayground_configuration_container .row .sectionOptions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}
.row .sectionOptions .playerMode_card {
	width: 45%;
	height: 150px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 4px 80px #887aa614;
	border-radius: 16px;
	opacity: 1;
}
.row .sectionOptions .playerMode_card.selected,
.row .sectionOptions .playerMode_card:hover {
	transform: scale(1.05);
}
.row .sectionOptions .playerMode_card .top {
	width: 100%;
	height: 100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
.row .sectionOptions .playerMode_card .top .name {
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0px;
	color: #3f4765;
	opacity: 1;
}
.row .sectionOptions .playerMode_card .top .avatar > img {
	width: 38px;
	height: 40px;
}
.row .sectionOptions .playerMode_card .bottom {
	width: 100%;
	height: 50px;
	background-color: #ccc;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.row .sectionOptions .playerMode_card .bottom.selected {
	background: transparent linear-gradient(180deg, #46a0ae 0%, #04f8c8 100%) 0%
		0% no-repeat padding-box !important;
}
.row .sectionOptions .playerMode_card .bottom > span {
	text-align: center;
	font-size: 12px;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}
.row .sectionOptions .playerDifficulty_card {
	width: 30%;
	height: 44px;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 48px #0000000f;
	border-radius: 14px;
	opacity: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.row .sectionOptions .playerDifficulty_card.selected {
	transform: scale(1.05);
}
.row .sectionOptions .playerDifficulty_card.selected,
.row .sectionOptions .playerDifficulty_card:hover {
	background: transparent linear-gradient(180deg, #46a0ae 0%, #04f8c8 100%) 0%
		0% no-repeat padding-box !important;
	transform: scale(1.05);
}
.row .sectionOptions .playerDifficulty_card > span {
	text-align: center;
	font-size: 12px;
	letter-spacing: 0.86px;
	color: #77838f;
	opacity: 1;
}
.row .sectionOptions .playerDifficulty_card.selected > span {
	color: #fff !important;
}
/* Styles for  - quizConfiguration.tsx - END */

/* Style for play area - START */
.quizPlaygroundPage_container .sectionTop {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	width: 100%;
	flex-grow: 1;
	/* overflow-y: scroll;
	height: 200px; */
}
.quizPlaygroundPage_container .sectionBottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-grow: 0;
	z-index: 1;
}
.quizPlaygroundPage_container .sectionTop .questionArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 93%;
	border: 1px solid #3c4777;
	border-radius: 8px;
	gap: 16px;
	padding: 20px 16px;
	background-color: #252c4a;
}

.quizPlaygroundPage_container .sectionTop .MuiLinearProgress-determinate {
	background-color: #252c4a !important;
}

.questionFormat_actionArea_container {
	background-color: #fff;
	padding: 20px;
	width: 100%;
	overflow: scroll;
}
.questionFormat_actionArea_container .actionButton {
	width: 90%;
	height: 59px;
	background: transparent linear-gradient(180deg, #04faca 0%, #46a0ae 100%) 0%
		0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 10px;
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: auto;

	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	text-transform: uppercase;
}
.questionFormat_actionArea_container .actionButton:hover {
	background: transparent linear-gradient(180deg, #04faca 0%, #46a0ae 100%) 0%
		0% no-repeat padding-box;
}
/* .questionFormat_actionArea_container .actionButton > span {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
	text-transform: uppercase;
} */
/*Style for play area - END */
