.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}
.animated.infinite {
	animation-iteration-count: infinite;
}

.bounce {
	animation-name: bounce;
	transform-origin: center bottom;
}

.flash {
	animation-name: flash;
}

.pulse {
	animation-name: pulse;
	animation-timing-function: ease-in-out;
}

.rubberBand {
	animation-name: rubberBand;
}

.shakeX {
	animation-name: shakeX;
}

.shakeY {
	animation-name: shakeY;
}

.headShake {
	animation-name: headShake;
	animation-timing-function: ease-in-out;
}

.swing {
	animation-name: swing;
	transform-origin: top center;
}

.tada {
	animation-name: tada;
}

.wobble {
	animation-name: wobble;
}

.jello {
	animation-name: jello;
	transform-origin: center;
}

.heartBeat {
	animation-name: heartBeat;
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
}

.backInDown {
	animation-name: backInDown;
}

.backInLeft {
	animation-name: backInLeft;
}

.backInRight {
	animation-name: backInRight;
}

.backInUp {
	animation-name: backInUp;
}

.backOutDown {
	animation-name: backOutDown;
}

.backOutLeft {
	animation-name: backOutLeft;
}

.backOutRight {
	animation-name: backOutRight;
}

.backOutUp {
	animation-name: backOutUp;
}

.bounceIn {
	animation-name: bounceIn;
	animation-duration: 0.75s;
}

.bounceInDown {
	animation-name: bounceInDown;
}

.bounceInLeft {
	animation-name: bounceInLeft;
}

.bounceInRight {
	animation-name: bounceInRight;
}

.bounceInUp {
	animation-name: bounceInUp;
}

.bounceOut {
	animation-name: bounceOut;
	animation-duration: 0.75s;
}

.bounceOutDown {
	animation-name: bounceOutDown;
}

.bounceOutLeft {
	animation-name: bounceOutLeft;
}

.bounceOutRight {
	animation-name: bounceOutRight;
}

.bounceOutUp {
	animation-name: bounceOutUp;
}

.fadeIn {
	animation-name: fadeIn;
}

.fadeInDown {
	animation-name: fadeInDown;
}

.fadeInDownBig {
	animation-name: fadeInDownBig;
}

.fadeInLeft {
	animation-name: fadeInLeft;
}

.fadeInLeftBig {
	animation-name: fadeInLeftBig;
}

.fadeInRight {
	animation-name: fadeInRight;
}

.fadeInRightBig {
	animation-name: fadeInRightBig;
}

.fadeInUp {
	animation-name: fadeInUp;
}

.fadeInUpBig {
	animation-name: fadeInUpBig;
}

.fadeInTopLeft {
	animation-name: fadeInTopLeft;
}

.fadeInTopRight {
	animation-name: fadeInTopRight;
}

.fadeInBottomLeft {
	animation-name: fadeInBottomLeft;
}

.fadeInBottomRight {
	animation-name: fadeInBottomRight;
}

.fadeOut {
	animation-name: fadeOut;
}

.fadeOutDown {
	animation-name: fadeOutDown;
}

.fadeOutDownBig {
	animation-name: fadeOutDownBig;
}

.fadeOutLeft {
	animation-name: fadeOutLeft;
}

.fadeOutLeftBig {
	animation-name: fadeOutLeftBig;
}

.fadeOutRight {
	animation-name: fadeOutRight;
}

.fadeOutRightBig {
	animation-name: fadeOutRightBig;
}

.fadeOutUp {
	animation-name: fadeOutUp;
}

.fadeOutUpBig {
	animation-name: fadeOutUpBig;
}

.fadeOutTopLeft {
	animation-name: fadeOutTopLeft;
}

.fadeOutTopRight {
	animation-name: fadeOutTopRight;
}

.fadeOutBottomRight {
	animation-name: fadeOutBottomRight;
}

.fadeOutBottomLeft {
	animation-name: fadeOutBottomLeft;
}

.flip {
	animation-name: flip;
	backface-visibility: visible;
}

.flipInX {
	animation-name: flipInX;
	backface-visibility: visible !important;
}

.flipInY {
	animation-name: flipInY;
	backface-visibility: visible !important;
}

.flipOutX {
	animation-name: flipOutX;
	animation-duration: 0.75s;
	backface-visibility: visible !important;
}

.flipOutY {
	animation-name: flipOutY;
	animation-duration: 0.75s;
	backface-visibility: visible !important;
}

.lightSpeedInRight {
	animation-name: lightSpeedInRight;
	animation-timing-function: ease-out;
}

.lightSpeedInLeft {
	animation-name: lightSpeedInLeft;
	animation-timing-function: ease-out;
}

.lightSpeedOutRight {
	animation-name: lightSpeedOutRight;
	animation-timing-function: ease-in;
}

.lightSpeedOutLeft {
	animation-name: lightSpeedOutLeft;
	animation-timing-function: ease-in;
}

.rotateIn {
	animation-name: rotateIn;
	transform-origin: center;
}

.rotateInDownLeft {
	animation-name: rotateInDownLeft;
	transform-origin: left bottom;
}

.rotateInDownRight {
	animation-name: rotateInDownRight;
	transform-origin: right bottom;
}

.rotateInUpLeft {
	animation-name: rotateInUpLeft;
	transform-origin: left bottom;
}

.rotateInUpRight {
	animation-name: rotateInUpRight;
	transform-origin: right bottom;
}

.rotateOut {
	animation-name: rotateOut;
	transform-origin: center;
}

.rotateOutDownLeft {
	animation-name: rotateOutDownLeft;
	transform-origin: left bottom;
}

.rotateOutDownRight {
	animation-name: rotateOutDownRight;
	transform-origin: right bottom;
}

.rotateOutUpLeft {
	animation-name: rotateOutUpLeft;
	transform-origin: left bottom;
}

.rotateOutUpRight {
	animation-name: rotateOutUpRight;
	transform-origin: right bottom;
}

.hinge {
	animation-name: hinge;
	transform-origin: top left;
	animation-duration: 2s;
}

.jackInTheBox {
	animation-name: jackInTheBox;
}

.rollInLeft {
	animation-name: rollInLeft;
}

.rollOutLeft {
	animation-name: rollOutLeft;
}

.rollInRight {
	animation-name: rollInRight;
}

.rollOutRight {
	animation-name: rollOutRight;
}

.zoomIn {
	animation-name: zoomIn;
}

.zoomInDown {
	animation-name: zoomInDown;
}

.zoomInLeft {
	animation-name: zoomInLeft;
}

.zoomInRight {
	animation-name: zoomInRight;
}

.zoomInUp {
	animation-name: zoomInUp;
}

.zoomOut {
	animation-name: zoomOut;
}

.zoomOutDown {
	animation-name: zoomOutDown;
	transform-origin: center bottom;
}

.zoomOutLeft {
	animation-name: zoomOutLeft;
	transform-origin: left center;
}

.zoomOutRight {
	animation-name: zoomOutRight;
	transform-origin: right center;
}

.zoomOutUp {
	animation-name: zoomOutUp;
	transform-origin: center bottom;
}

.slideInDown {
	animation-name: slideInDown;
}

.slideInLeft {
	animation-name: slideInLeft;
}

.slideInRight {
	animation-name: slideInRight;
}

.slideInUp {
	animation-name: slideInUp;
}

.slideOutDown {
	animation-name: slideOutDown;
}

.slideOutLeft {
	animation-name: slideOutLeft;
}

.slideOutRight {
	animation-name: slideOutRight;
}

.slideOutUp {
	animation-name: slideOutUp;
}

.magic {
	animation-name: magic;
}

.swapInLeft {
	animation-name: swapInLeft;
}

.swapOutLeft {
	animation-name: swapOutLeft;
}

.swapInRight {
	animation-name: swapInRight;
}

.swapOutRight {
	animation-name: swapOutRight;
}

.twistInDown {
	animation-name: twistInDown;
}

.twistInUp {
	animation-name: twistInUp;
}

.puffIn {
	animation-name: puffIn;
}

.puffOut {
	animation-name: puffOut;
}

.vanishIn {
	animation-name: vanishIn;
}

.vanishOut {
	animation-name: vanishOut;
}

.setInUpLeft {
	animation-name: setInUpLeft;
}

.setInUpRight {
	animation-name: setInUpRight;
}

.setInDownLeft {
	animation-name: setInDownLeft;
}

.setInDownRight {
	animation-name: setInDownRight;
}

.setOutUpLeft {
	animation-name: setOutUpLeft;
}

.setOutUpRight {
	animation-name: setOutUpRight;
}

.setOutDownLeft {
	animation-name: setOutDownLeft;
}

.setOutDownRight {
	animation-name: setOutDownRight;
}

.persInUp {
	animation-name: persInUp;
}

.persInDown {
	animation-name: persInDown;
}

.persInLeft {
	animation-name: persInLeft;
}

.persInRight {
	animation-name: persInRight;
}

.persOutUp {
	animation-name: persOutUp;
}

.persOutDown {
	animation-name: persOutDown;
}

.persOutLeft {
	animation-name: persOutLeft;
}

.persOutRight {
	animation-name: persOutRight;
}

.persRotateUp {
	animation-name: persRotateUp;
}

.persRotateDown {
	animation-name: persRotateDown;
}

.persRotateLeft {
	animation-name: persRotateLeft;
}

.persRotateRight {
	animation-name: persRotateRight;
}

.reverseZ {
	animation-name: reverseZ;
}

.flush {
	animation-name: flush;
}

.pulseUpIn {
	animation-name: pulseUpIn;
}

.pulseDownIn {
	animation-name: pulseDownIn;
}

.pulseLeftIn {
	animation-name: pulseLeftIn;
}

.pulseRightIn {
	animation-name: pulseRightIn;
}

.pulseUpOut {
	animation-name: pulseUpOut;
}

.pulseDownOut {
	animation-name: pulseDownOut;
}

.pulseLeftOut {
	animation-name: pulseLeftOut;
}

.pulseRightOut {
	animation-name: pulseRightOut;
}

.kobeRightOut {
	animation-name: kobeRightOut;
}

.kobeLeftOut {
	animation-name: kobeLeftOut;
}

.summonRight {
	animation-name: summonRight;
}

.summonLeft {
	animation-name: summonLeft;
}

.bendFlickTop {
	animation-name: bendFlickTop;
}

.bendFlickBottom {
	animation-name: bendFlickBottom;
}

.bendFlickLeft {
	animation-name: bendFlickLeft;
}

.bendFlickRight {
	animation-name: bendFlickRight;
}

.glideInDown {
	animation-name: glideInDown;
}

.glideInLeft {
	animation-name: glideInLeft;
}

.glideInRight {
	animation-name: glideInRight;
}

.glideInUp {
	animation-name: glideInUp;
}

.glideOutDown {
	animation-name: glideOutDown;
}

.glideOutLeft {
	animation-name: glideOutLeft;
}

.glideOutRight {
	animation-name: glideOutRight;
}

.glideOutUp {
	animation-name: glideOutUp;
} /*# sourceMappingURL=animations.css.map */

.hideOut {
	animation-name: hideOut;
}

.delay-0 {
	animation-delay: 0s;
}

.delay-1 {
	animation-delay: 0.25s;
}

.delay-2 {
	animation-delay: 0.5s;
}

.delay-3 {
	animation-delay: 0.75s;
}

.delay-4 {
	animation-delay: 1s;
}

.delay-5 {
	animation-delay: 1.25s;
}

.delay-6 {
	animation-delay: 1.5s;
}

.delay-7 {
	animation-delay: 1.75s;
}

.delay-8 {
	animation-delay: 2s;
}

.delay-9 {
	animation-delay: 2.25s;
}

.delay-10 {
	animation-delay: 2.5s;
}
.delay-11 {
	animation-delay: 2.75s;
}
.delay-12 {
	animation-delay: 3s;
}
.delay-13 {
	animation-delay: 3.25s;
}
.delay-14 {
	animation-delay: 3.5s;
}
.delay-15 {
	animation-delay: 3.75s;
}
.delay-16 {
	animation-delay: 4s;
}
.delay-17 {
	animation-delay: 4.25s;
}
.delay-18 {
	animation-delay: 4.5s;
}
.delay-19 {
	animation-delay: 4.75s;
}
.delay-20 {
	animation-delay: 5s;
}
.delay-21 {
	animation-delay: 5.25s;
}
.delay-22 {
	animation-delay: 5.5s;
}
.delay-23 {
	animation-delay: 5.75s;
}
.delay-24 {
	animation-delay: 6s;
}
.delay-25 {
	animation-delay: 6.25s;
}
.delay-26 {
	animation-delay: 6.5s;
}
.delay-27 {
	animation-delay: 6.75s;
}
.delay-28 {
	animation-delay: 7s;
}
.delay-29 {
	animation-delay: 7.25s;
}
.delay-30 {
	animation-delay: 7.5s;
}
.delay-31 {
	animation-delay: 7.75s;
}
.delay-32 {
	animation-delay: 8s;
}
.delay-33 {
	animation-delay: 8.25s;
}
.delay-34 {
	animation-delay: 8.5s;
}

.fast {
	animation-duration: 0.5s;
}

.mid-fast {
	animation-duration: 0.75s;
}
