@keyframes bounce {
	from,
	20%,
	53%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}
	40%,
	43% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
	70% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
	80% {
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0) scaleY(0.95);
	}
	90% {
		transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
}
@keyframes flash {
	from,
	50%,
	to {
		opacity: 1;
	}
	25%,
	75% {
		opacity: 0;
	}
}
@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes rubberBand {
	from {
		transform: scale3d(1, 1, 1);
	}
	30% {
		transform: scale3d(1.25, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.25, 1);
	}
	50% {
		transform: scale3d(1.15, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes shakeX {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(-10px, 0, 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(10px, 0, 0);
	}
}
@keyframes shakeY {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(0, -10px, 0);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translate3d(0, 10px, 0);
	}
}
@keyframes headShake {
	0% {
		transform: translateX(0);
	}
	6.5% {
		transform: translateX(-6px) rotateY(-9deg);
	}
	18.5% {
		transform: translateX(5px) rotateY(7deg);
	}
	31.5% {
		transform: translateX(-3px) rotateY(-5deg);
	}
	43.5% {
		transform: translateX(2px) rotateY(3deg);
	}
	50% {
		transform: translateX(0);
	}
}
@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}
	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}
@keyframes tada {
	from {
		transform: scale3d(1, 1, 1);
	}
	10%,
	20% {
		transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
	30%,
	50%,
	70%,
	90% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%,
	60%,
	80% {
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
@keyframes wobble {
	from {
		transform: translate3d(0, 0, 0);
	}
	15% {
		transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
	}
	30% {
		transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
	}
	45% {
		transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
	}
	60% {
		transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
	}
	75% {
		transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes jello {
	from,
	11.1%,
	to {
		transform: translate3d(0, 0, 0);
	}
	22.2% {
		transform: skewX(-12.5deg) skewY(-12.5deg);
	}
	33.3% {
		transform: skewX(6.25deg) skewY(6.25deg);
	}
	44.4% {
		transform: skewX(-3.125deg) skewY(-3.125deg);
	}
	55.5% {
		transform: skewX(1.5625deg) skewY(1.5625deg);
	}
	66.6% {
		transform: skewX(-0.78125deg) skewY(-0.78125deg);
	}
	77.7% {
		transform: skewX(0.390625deg) skewY(0.390625deg);
	}
	88.8% {
		transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
	}
}
@keyframes heartBeat {
	0% {
		transform: scale(1);
	}
	14% {
		transform: scale(1.3);
	}
	28% {
		transform: scale(1);
	}
	42% {
		transform: scale(1.3);
	}
	70% {
		transform: scale(1);
	}
}
@keyframes backInDown {
	0% {
		transform: translateY(-1200px) scale(0.7);
		opacity: 0.7;
	}
	80% {
		transform: translateY(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes backInLeft {
	0% {
		transform: translateX(-2000px) scale(0.7);
		opacity: 0.7;
	}
	80% {
		transform: translateX(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes backInRight {
	0% {
		transform: translateX(2000px) scale(0.7);
		opacity: 0.7;
	}
	80% {
		transform: translateX(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes backInUp {
	0% {
		transform: translateY(1200px) scale(0.7);
		opacity: 0.7;
	}
	80% {
		transform: translateY(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
@keyframes backOutDown {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	20% {
		transform: translateY(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: translateY(700px) scale(0.7);
		opacity: 0.7;
	}
}
@keyframes backOutLeft {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	20% {
		transform: translateX(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: translateX(-2000px) scale(0.7);
		opacity: 0.7;
	}
}
@keyframes backOutRight {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	20% {
		transform: translateX(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: translateX(2000px) scale(0.7);
		opacity: 0.7;
	}
}
@keyframes backOutUp {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	20% {
		transform: translateY(0px) scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: translateY(-700px) scale(0.7);
		opacity: 0.7;
	}
}
@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}
@keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		transform: translate3d(0, -3000px, 0) scaleY(3);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0) scaleY(0.9);
	}
	75% {
		transform: translate3d(0, -10px, 0) scaleY(0.95);
	}
	90% {
		transform: translate3d(0, 5px, 0) scaleY(0.985);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes bounceInLeft {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		transform: translate3d(-3000px, 0, 0) scaleX(3);
	}
	60% {
		opacity: 1;
		transform: translate3d(25px, 0, 0) scaleX(1);
	}
	75% {
		transform: translate3d(-10px, 0, 0) scaleX(0.98);
	}
	90% {
		transform: translate3d(5px, 0, 0) scaleX(0.995);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes bounceInRight {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	from {
		opacity: 0;
		transform: translate3d(3000px, 0, 0) scaleX(3);
	}
	60% {
		opacity: 1;
		transform: translate3d(-25px, 0, 0) scaleX(1);
	}
	75% {
		transform: translate3d(10px, 0, 0) scaleX(0.98);
	}
	90% {
		transform: translate3d(-5px, 0, 0) scaleX(0.995);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes bounceInUp {
	from,
	60%,
	75%,
	90%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	from {
		opacity: 0;
		transform: translate3d(0, 3000px, 0) scaleY(5);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, -20px, 0) scaleY(0.9);
	}
	75% {
		transform: translate3d(0, 10px, 0) scaleY(0.95);
	}
	90% {
		transform: translate3d(0, -5px, 0) scaleY(0.985);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes bounceOut {
	20% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	50%,
	55% {
		opacity: 1;
		transform: scale3d(1.1, 1.1, 1.1);
	}
	to {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
}
@keyframes bounceOutDown {
	20% {
		transform: translate3d(0, 10px, 0) scaleY(0.985);
	}
	40%,
	45% {
		opacity: 1;
		transform: translate3d(0, -20px, 0) scaleY(0.9);
	}
	to {
		opacity: 0;
		transform: translate3d(0, 2000px, 0) scaleY(3);
	}
}
@keyframes bounceOutLeft {
	20% {
		opacity: 1;
		transform: translate3d(20px, 0, 0) scaleX(0.9);
	}
	to {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0) scaleX(2);
	}
}
@keyframes bounceOutRight {
	20% {
		opacity: 1;
		transform: translate3d(-20px, 0, 0) scaleX(0.9);
	}
	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0) scaleX(2);
	}
}
@keyframes bounceOutUp {
	20% {
		transform: translate3d(0, -10px, 0) scaleY(0.985);
	}
	40%,
	45% {
		opacity: 1;
		transform: translate3d(0, 20px, 0) scaleY(0.9);
	}
	to {
		opacity: 0;
		transform: translate3d(0, -2000px, 0) scaleY(3);
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInDownBig {
	from {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInLeftBig {
	from {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInRightBig {
	from {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInUpBig {
	from {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInTopLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInTopRight {
	from {
		opacity: 0;
		transform: translate3d(100%, -100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInBottomLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInBottomRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 100%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes fadeOutDown {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		/* display: none; */
	}
}
@keyframes fadeOutDownBig {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, 2000px, 0);
	}
}
@keyframes fadeOutLeft {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes fadeOutLeftBig {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(-2000px, 0, 0);
	}
}
@keyframes fadeOutRight {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}
@keyframes fadeOutRightBig {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(2000px, 0, 0);
	}
}
@keyframes fadeOutUp {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes fadeOutUpBig {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: translate3d(0, -2000px, 0);
	}
}
@keyframes fadeOutTopLeft {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(-100%, -100%, 0);
	}
}
@keyframes fadeOutTopRight {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(100%, -100%, 0);
	}
}
@keyframes fadeOutBottomRight {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 100%, 0);
	}
}
@keyframes fadeOutBottomLeft {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(-100%, 100%, 0);
	}
}
@keyframes flip {
	from {
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
			rotate3d(0, 1, 0, -360deg);
		animation-timing-function: ease-out;
	}
	40% {
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
			rotate3d(0, 1, 0, -190deg);
		animation-timing-function: ease-out;
	}
	50% {
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
			rotate3d(0, 1, 0, -170deg);
		animation-timing-function: ease-in;
	}
	80% {
		transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
			rotate3d(0, 1, 0, 0deg);
		animation-timing-function: ease-in;
	}
	to {
		transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
			rotate3d(0, 1, 0, 0deg);
		animation-timing-function: ease-in;
	}
}
@keyframes flipInX {
	from {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		animation-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}
	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}
	to {
		transform: perspective(400px);
	}
}
@keyframes flipInY {
	from {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	40% {
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		animation-timing-function: ease-in;
	}
	60% {
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}
	80% {
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	to {
		transform: perspective(400px);
	}
}
@keyframes flipOutX {
	from {
		transform: perspective(400px);
	}
	30% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		opacity: 1;
	}
	to {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		opacity: 0;
	}
}
@keyframes flipOutY {
	from {
		transform: perspective(400px);
	}
	30% {
		transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
		opacity: 1;
	}
	to {
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		opacity: 0;
	}
}
@keyframes lightSpeedInRight {
	from {
		transform: translate3d(100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}
	60% {
		transform: skewX(20deg);
		opacity: 1;
	}
	80% {
		transform: skewX(-5deg);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes lightSpeedInLeft {
	from {
		transform: translate3d(-100%, 0, 0) skewX(30deg);
		opacity: 0;
	}
	60% {
		transform: skewX(-20deg);
		opacity: 1;
	}
	80% {
		transform: skewX(5deg);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes lightSpeedOutRight {
	from {
		opacity: 1;
	}
	to {
		transform: translate3d(100%, 0, 0) skewX(30deg);
		opacity: 0;
	}
}
@keyframes lightSpeedOutLeft {
	from {
		opacity: 1;
	}
	to {
		transform: translate3d(-100%, 0, 0) skewX(-30deg);
		opacity: 0;
	}
}
@keyframes rotateIn {
	from {
		transform: rotate3d(0, 0, 1, -200deg);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes rotateInDownLeft {
	from {
		transform: rotate3d(0, 0, 1, -45deg);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes rotateInDownRight {
	from {
		transform: rotate3d(0, 0, 1, 45deg);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes rotateInUpLeft {
	from {
		transform: rotate3d(0, 0, 1, 45deg);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes rotateInUpRight {
	from {
		transform: rotate3d(0, 0, 1, -90deg);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes rotateOut {
	from {
		opacity: 1;
	}
	to {
		transform: rotate3d(0, 0, 1, 200deg);
		opacity: 0;
	}
}
@keyframes rotateOutDownLeft {
	from {
		opacity: 1;
	}
	to {
		transform: rotate3d(0, 0, 1, 45deg);
		opacity: 0;
	}
}
@keyframes rotateOutDownRight {
	from {
		opacity: 1;
	}
	to {
		transform: rotate3d(0, 0, 1, -45deg);
		opacity: 0;
	}
}
@keyframes rotateOutUpLeft {
	from {
		opacity: 1;
	}
	to {
		transform: rotate3d(0, 0, 1, -45deg);
		opacity: 0;
	}
}
@keyframes rotateOutUpRight {
	from {
		opacity: 1;
	}
	to {
		transform: rotate3d(0, 0, 1, 90deg);
		opacity: 0;
	}
}
@keyframes hinge {
	0% {
		animation-timing-function: ease-in-out;
	}
	20%,
	60% {
		transform: rotate3d(0, 0, 1, 80deg);
		animation-timing-function: ease-in-out;
	}
	40%,
	80% {
		transform: rotate3d(0, 0, 1, 60deg);
		animation-timing-function: ease-in-out;
		opacity: 1;
	}
	to {
		transform: translate3d(0, 700px, 0);
		opacity: 0;
	}
}
@keyframes jackInTheBox {
	from {
		opacity: 0;
		transform: scale(0.1) rotate(30deg);
		transform-origin: center bottom;
	}
	50% {
		transform: rotate(-10deg);
	}
	70% {
		transform: rotate(3deg);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes rollInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes rollOutLeft {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
	}
}
@keyframes rollInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes rollOutRight {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	to {
		opacity: 0;
		transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
	}
}
@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomInDown {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
@keyframes zoomInLeft {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
@keyframes zoomInRight {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
@keyframes zoomInUp {
	from {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	60% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
@keyframes zoomOut {
	from {
		opacity: 1;
	}
	50% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	to {
		opacity: 0;
	}
}
@keyframes zoomOutDown {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
@keyframes zoomOutLeft {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
	}
	to {
		opacity: 0;
		transform: scale(0.1) translate3d(-2000px, 0, 0);
	}
}
@keyframes zoomOutRight {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
	}
	to {
		opacity: 0;
		transform: scale(0.1) translate3d(2000px, 0, 0);
	}
}
@keyframes zoomOutUp {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInRight {
	from {
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideInUp {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slideOutDown {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		transform: translate3d(0, 100%, 0);
	}
}
@keyframes slideOutLeft {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes slideOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		transform: translate3d(100%, 0, 0);
	}
}
@keyframes slideOutUp {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}
@keyframes magic {
	0% {
		opacity: 1;
		transform-origin: 100% 200%;
		transform: scale(1, 1) rotate(0deg);
	}
	100% {
		opacity: 0;
		transform-origin: 200% 500%;
		transform: scale(0, 0) rotate(270deg);
	}
}
@keyframes swapInLeft {
	0% {
		opacity: 0;
		transform-origin: 0 100%;
		transform: scale(0, 0) translate(-700px, 0px);
	}
	100% {
		opacity: 1;
		transform-origin: 100% 100%;
		transform: scale(1, 1) translate(0px, 0px);
	}
}
@keyframes swapOutLeft {
	0% {
		opacity: 1;
		transform-origin: 100% 100%;
		transform: scale(1, 1) translate(0px, 0px);
	}
	100% {
		opacity: 0;
		transform-origin: 0% 100%;
		transform: scale(0, 0) translate(-700px, 0px);
	}
}
@keyframes swapInRight {
	0% {
		opacity: 0;
		transform-origin: 0 -100%;
		transform: scale(0, 0) translate(700px, 0px);
	}
	100% {
		opacity: 1;
		transform-origin: 100% 100%;
		transform: scale(1, 1) translate(0px, 0px);
	}
}
@keyframes swapOutRight {
	0% {
		opacity: 1;
		transform-origin: 100% 100%;
		transform: scale(1, 1) translate(0px, 0px);
	}
	100% {
		opacity: 0;
		transform-origin: 0% 100%;
		transform: scale(0, 0) translate(700px, 0px);
	}
}
@keyframes twistInDown {
	0% {
		opacity: 0;
		transform-origin: 0 100%;
		transform: scale(0, 0) rotate(360deg) translateY(-100%);
	}
	30% {
		transform-origin: 0 100%;
		transform: scale(0, 0) rotate(360deg) translateY(-100%);
	}
	100% {
		opacity: 1;
		transform-origin: 100% 100%;
		transform: scale(1, 1) rotate(0deg) translateY(0%);
	}
}
@keyframes twistInUp {
	0% {
		opacity: 0;
		transform-origin: 100% 0;
		transform: scale(0, 0) rotate(360deg) translateY(100%);
	}
	30% {
		transform-origin: 100% 0;
		transform: scale(0, 0) rotate(360deg) translateY(100%);
	}
	100% {
		opacity: 1;
		transform-origin: 0 0;
		transform: scale(1, 1) rotate(0deg) translateY(0);
	}
}
@keyframes puffIn {
	0% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(2, 2);
		filter: blur(2px);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1);
		filter: blur(0px);
	}
}
@keyframes puffOut {
	0% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1);
		filter: blur(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(2, 2);
		filter: blur(2px);
	}
}
@keyframes vanishIn {
	0% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(2, 2);
		filter: blur(90px);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1);
		filter: blur(0px);
	}
}
@keyframes vanishOut {
	0% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1);
		filter: blur(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(2, 2);
		filter: blur(20px);
	}
}
@keyframes setInUpLeft {
	0% {
		transform-origin: top left;
		transform: rotate(110deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform-origin: top left;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
}
@keyframes setInUpRight {
	0% {
		transform-origin: top right;
		transform: rotate(-110deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform-origin: top right;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
}
@keyframes setInDownLeft {
	0% {
		transform-origin: bottom left;
		transform: rotate(-110deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform-origin: bottom left;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
}
@keyframes setInDownRight {
	0% {
		transform-origin: bottom right;
		transform: rotate(110deg);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform-origin: bottom right;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
}
@keyframes setOutUpLeft {
	0% {
		transform-origin: top left;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform-origin: top left;
		transform: rotate(110deg);
		animation-timing-function: ease-in-out;
	}
}
@keyframes setOutUpRight {
	0% {
		transform-origin: top right;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform-origin: top right;
		transform: rotate(-110deg);
		animation-timing-function: ease-in-out;
	}
}
@keyframes setOutDownLeft {
	0% {
		transform-origin: bottom left;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform-origin: bottom left;
		transform: rotate(-110deg);
		animation-timing-function: ease-in-out;
	}
}
@keyframes setOutDownRight {
	0% {
		transform-origin: bottom right;
		transform: rotate(0deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform-origin: bottom right;
		transform: rotate(110deg);
		animation-timing-function: ease-in-out;
	}
}
@keyframes persInUp {
	0% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateX(180deg);
	}
	100% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateX(0deg);
	}
}
@keyframes persInDown {
	0% {
		transform-origin: 0 100%;
		transform: perspective(800px) rotateX(-180deg);
	}
	100% {
		transform-origin: 0 100%;
		transform: perspective(800px) rotateX(0deg);
	}
}
@keyframes persInLeft {
	0% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(-180deg);
	}
	100% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(0deg);
	}
}
@keyframes persInRight {
	0% {
		transform-origin: 100% 0;
		transform: perspective(800px) rotateY(180deg);
	}
	100% {
		transform-origin: 100% 0;
		transform: perspective(800px) rotateY(0deg);
	}
}
@keyframes persOutUp {
	0% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateX(0deg);
	}
	100% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateX(180deg);
	}
}
@keyframes persOutDown {
	0% {
		transform-origin: 0 100%;
		transform: perspective(800px) rotateX(0deg);
	}
	100% {
		transform-origin: 0 100%;
		transform: perspective(800px) rotateX(-180deg);
	}
}
@keyframes persOutLeft {
	0% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(0deg);
	}
	100% {
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(-180deg);
	}
}
@keyframes persOutRight {
	0% {
		transform-origin: 100% 0;
		transform: perspective(800px) rotateY(0deg);
	}
	100% {
		transform-origin: 100% 0;
		transform: perspective(800px) rotateY(180deg);
	}
}
@keyframes persRotateUp {
	0% {
		opacity: 1;
		transform-origin: 0 0;
		transform: perspective(800px) rotateX(0deg) translateZ(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 0;
		transform: perspective(800px) rotateX(180deg) translateZ(100px);
	}
}
@keyframes persRotateDown {
	0% {
		opacity: 1;
		transform-origin: 0 0;
		transform: perspective(800px) rotateX(0deg) translateZ(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 100%;
		transform: perspective(800px) rotateX(-180deg) translateZ(300px);
	}
}
@keyframes persRotateLeft {
	0% {
		opacity: 1;
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(0deg) translateZ(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 0;
		transform: perspective(800px) rotateY(-180deg) translateZ(300px);
	}
}
@keyframes persRotateRight {
	0% {
		opacity: 1;
		transform-origin: 0 0;
		transform: perspective(800px) rotateY(0deg) translate3d(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 0;
		transform: perspective(800px) rotateY(180deg) translateZ(300px);
	}
}
@keyframes reverseZ {
	0% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(0, 0) rotate(360deg);
	}
	15% {
		opacity: 1;
		transform-origin: 0% 100%;
		transform: scale(0.5, 0.5) rotate(0deg);
	}
	30% {
		opacity: 1;
		transform-origin: 100% 100%;
		transform: scale(0.5, 0.5) rotate(0deg);
	}
	45% {
		opacity: 1;
		transform-origin: 0%;
		transform: scale(0.5, 0.5) rotate(0deg);
	}
	60% {
		opacity: 1;
		transform-origin: 0% 0%;
		transform: scale(0.5, 0.5) rotate(0deg);
	}
	75% {
		opacity: 1;
		transform-origin: 100% 0%;
		transform: scale(0.5, 0.5) rotate(0deg);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1) rotate(0deg);
	}
}
@keyframes flush {
	0% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: scale(1, 1) rotateY(0deg);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: scale(0, 0) rotateY(180deg);
	}
}
@keyframes pulseUpIn {
	0% {
		opacity: 0;
		transform: scale(1, 1) translateY(-900%);
	}
	50%,
	70%,
	90% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateY(0);
	}
	60%,
	80%,
	100% {
		opacity: 1;
		transform: scale(1, 1) translateY(0);
	}
}
@keyframes pulseDownIn {
	0% {
		opacity: 0;
		transform: scale(1, 1) translateY(900%);
	}
	50%,
	70%,
	90% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateY(0);
	}
	60%,
	80%,
	100% {
		opacity: 1;
		transform: scale(1, 1) translateY(0);
	}
}
@keyframes pulseLeftIn {
	0% {
		opacity: 0;
		transform: scale(1, 1) translateX(-900%);
	}
	50%,
	70%,
	90% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateX(0);
	}
	60%,
	80%,
	100% {
		opacity: 1;
		transform: scale(1, 1) translateX(0);
	}
}
@keyframes pulseRightIn {
	0% {
		opacity: 0;
		transform: scale(1, 1) translateX(900%);
	}
	50%,
	70%,
	90% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateX(0);
	}
	60%,
	80%,
	100% {
		opacity: 1;
		transform: scale(1, 1) translateX(0);
	}
}
@keyframes pulseUpOut {
	0%,
	20%,
	40%,
	50% {
		opacity: 1;
		transform: scale(1, 1) translateY(0);
	}
	10%,
	30% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateY(0);
	}
	100% {
		opacity: 0;
		transform: scale(1, 1) translateY(-900%);
	}
}
@keyframes pulseDownOut {
	0%,
	20%,
	40%,
	50% {
		opacity: 1;
		transform: scale(1, 1) translateY(0);
	}
	10%,
	30% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateY(0);
	}
	100% {
		opacity: 0;
		transform: scale(1, 1) translateY(900%);
	}
}
@keyframes pulseLeftOut {
	0%,
	20%,
	40%,
	50% {
		opacity: 1;
		transform: scale(1, 1) translateX(0);
	}
	10%,
	30% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateX(0);
	}
	100% {
		opacity: 0;
		transform: scale(1, 1) translateX(-900%);
	}
}
@keyframes pulseRightOut {
	0%,
	20%,
	40%,
	50% {
		opacity: 1;
		transform: scale(1, 1) translateX(0);
	}
	10%,
	30% {
		opacity: 1;
		transform: scale(1.1, 1.1) translateX(0);
	}
	100% {
		opacity: 0;
		transform: scale(1, 1) translateX(900%);
	}
}
@keyframes kobeRightOut {
	0% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: rotate(0deg);
		filter: blur(0px);
	}
	50% {
		opacity: 1;
		transform-origin: 200% 50%;
		transform: rotate(160deg);
		filter: blur(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 200% 50%;
		transform: rotate(160deg);
		filter: blur(20px);
	}
}
@keyframes kobeLeftOut {
	0% {
		opacity: 1;
		transform-origin: 50% 50%;
		transform: rotate(0deg);
		filter: blur(0px);
	}
	50% {
		opacity: 1;
		transform-origin: -100% 50%;
		transform: rotate(-160deg);
		filter: blur(0px);
	}
	100% {
		opacity: 0;
		transform-origin: -100% 50%;
		transform: rotate(-160deg);
		filter: blur(20px);
	}
}
@keyframes summonRight {
	0% {
		opacity: 1;
		transform-origin: 200% 50%;
		transform: rotate(240deg);
		filter: blur(20px);
	}
	50% {
		opacity: 1;
		transform-origin: 200% 50%;
		transform: rotate(160deg);
		filter: blur(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: rotate(0deg);
		filter: blur(0px);
	}
}
@keyframes summonLeft {
	0% {
		opacity: 1;
		transform-origin: -100% 50%;
		transform: rotate(-240deg);
		filter: blur(20px);
	}
	50% {
		opacity: 1;
		transform-origin: -100% 50%;
		transform: rotate(-160deg);
		filter: blur(0px);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 50%;
		transform: rotate(0deg);
		filter: blur(0px);
	}
}
@keyframes bendFlickTop {
	0% {
		opacity: 0;
		transform-origin: 50% 100%;
		transform: perspective(800px) rotateX(-90deg);
	}
	50% {
		opacity: 1;
		transform-origin: 50% 100%;
		transform: perspective(800px) rotateX(50deg);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 100%;
		transform: perspective(800px) rotateX(0deg);
	}
}
@keyframes bendFlickBottom {
	0% {
		opacity: 0;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(-90deg);
	}
	50% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(50deg);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: perspective(800px) rotateX(0deg);
	}
}
@keyframes bendFlickLeft {
	0% {
		opacity: 0;
		transform-origin: 100% 50%;
		transform: perspective(800px) rotateY(-90deg);
	}
	50% {
		opacity: 1;
		transform-origin: 100% 50%;
		transform: perspective(800px) rotateY(50deg);
	}
	100% {
		opacity: 1;
		transform-origin: 100% 50%;
		transform: perspective(800px) rotateY(0deg);
	}
}
@keyframes bendFlickRight {
	0% {
		opacity: 0;
		transform-origin: 0% 0%;
		transform: perspective(800px) rotateY(90deg);
	}
	50% {
		opacity: 1;
		transform-origin: 0% 0%;
		transform: perspective(800px) rotateY(-50deg);
	}
	100% {
		opacity: 1;
		transform-origin: 0% 0%;
		transform: perspective(800px) rotateY(0deg);
	}
}
@keyframes glideInDown {
	0% {
		opacity: 0;
		transform-origin: 50% 100%;
		transform: scale(0.2) translate(0%, 200%);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 100%;
		transform: scale(1) translate(0%, 0%);
	}
}
@keyframes glideInLeft {
	0% {
		opacity: 0;
		transform-origin: 0% 50%;
		transform: scale(0.2) translate(-200%, 0%);
	}
	100% {
		opacity: 1;
		transform-origin: 0% 50%;
		transform: scale(1) translate(0%, 0%);
	}
}
@keyframes glideInRight {
	0% {
		opacity: 0;
		transform-origin: 100% 50%;
		transform: scale(0.2) translate(200%, 0%);
	}
	100% {
		opacity: 1;
		transform-origin: 100% 50%;
		transform: scale(1) translate(0%, 0%);
	}
}
@keyframes glideInUp {
	0% {
		opacity: 0;
		transform-origin: 50% 0%;
		transform: scale(0.2) translate(0%, -200%);
	}
	100% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: scale(1) translate(0%, 0%);
	}
}
@keyframes glideOutDown {
	0% {
		opacity: 1;
		transform-origin: 50% 100%;
		transform: scale(1) translate(0%, 0%);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 100%;
		transform: scale(0.2) translate(0%, 200%);
	}
}
@keyframes glideOutLeft {
	0% {
		opacity: 1;
		transform-origin: 0% 50%;
		transform: scale(1) translate(0%, 0%);
	}
	100% {
		opacity: 0;
		transform-origin: 0% 50%;
		transform: scale(0.2) translate(-200%, 0%);
	}
}
@keyframes glideOutRight {
	0% {
		opacity: 1;
		transform-origin: 100% 50%;
		transform: scale(1) translate(0%, 0%);
	}
	100% {
		opacity: 0;
		transform-origin: 100% 50%;
		transform: scale(0.2) translate(200%, 0%);
	}
}
@keyframes glideOutUp {
	0% {
		opacity: 1;
		transform-origin: 50% 0%;
		transform: scale(1) translate(0%, 0%);
	}
	100% {
		opacity: 0;
		transform-origin: 50% 0%;
		transform: scale(0.2) translate(0%, -200%);
	}
}
@keyframes hideOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		/* transform: translate3d(0, 100%, 0); */
		display: none;
	}
}
/*# sourceMappingURL=keyframes.css.map */
