/* Mobile view */
@media only screen and (max-width: 767px) {
	.body_container {
		width: 100% !important;
	}
	.navigationBar_container {
		width: 100%;
	}
	.navigationBar_container_appBar {
		width: 90% !important;
	}
	/* .homePage_userStat_container .coinFx {
		translate: -10px -50px;
	} */
}
