/* Styles applied to the bar elements if color="primary"; bar2 if variant not "buffer". */
.MuiLinearProgress-barColorPrimary {
	background: transparent linear-gradient(90deg, #46a0ae 0%, #00ffcb 100%) 0% 0%
		no-repeat padding-box;
}

/* Styles applied to the root element if variant="determinate". */
.MuiLinearProgress-determinate {
	background-color: #e8ebf5 !important;
}

.timeRemaining_container .MuiLinearProgress-root {
	height: 25px !important;
	border-radius: 23px;
	position: relative;
}
/* .MuiLinearProgress-bar1Determinate {
	background-color: #e8ebf5 !important;
} */
