/* Styles for lastPlayedQuizes.tsx - START */
.lastPlayedQuizes_container {
	display: flex;
	flex-direction: column;
	padding: 0px 16px 16px 16px;
	justify-content: center;
	gap: 16px;
}
.lastPlayedQuizes_container_header {
	text-align: left;
	font-size: 16px;
	letter-spacing: 1px;
	color: #333236;
	opacity: 1;
}
.lastPlayedQuizes_quizCategoryCard_container {
	/* height: 110px; */
	background: #eaeaea 0% 0% no-repeat padding-box;
	border-radius: 16px;
	opacity: 1;
	box-shadow: 0px 4px 80px #887aa614;
	display: flex;
	padding: 20px;
	gap: 20px;
}
.lastPlayedQuizes_quizCategoryCard_container:hover {
	background: #f2f2f2 0% 0% no-repeat padding-box;
}
.lastPlayedQuizes_quizCategoryCard_container .logo {
	flex-grow: 0;
}
.lastPlayedQuizes_quizCategoryCard_container .logo > img {
	width: 70px;
}
.lastPlayedQuizes_quizCategoryCard_container .name {
	flex-grow: 1;
	text-align: left;
	color: #3f4765;
	font-size: 15px;
	font-weight: 600;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.lastPlayedQuizes_quizCategoryCard_container .action {
	flex-grow: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.lastPlayedQuizes_quizCategoryCard_container .action .quizPoint {
	width: 120px;
	height: 34px;
	background: #23293b 0% 0% no-repeat padding-box;
	border-radius: 17px;
	opacity: 1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.quizPoint > span {
	letter-spacing: 1px;
	color: #03fac9;
	opacity: 1;

	font-size: 15px;
	font-weight: 500;
}
.loadMoreButton {
	width: 157px;
	height: 53px;
	border: 2px solid #5e6370;
	border-radius: 14px;
	opacity: 0.5;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #5e6370;
}
.loadMoreButton:hover {
	border: 2px solid #3a3d45;
	color: #3a3d45;
}
.loadMoreButton > span {
	font-size: 18px;
	letter-spacing: 1px;
}
/* Styles for lastPlayedQuizes.tsx - END */

/* Styles for personalbadges.tsx - START */

.personalBadges_container {
	display: flex;
	flex-direction: column;
	padding: 0px 16px 16px 16px;
	justify-content: center;
	gap: 16px;
	margin-bottom: 20px;
}
.personalBadges_container_header {
	text-align: left;
	font-size: 16px;
	letter-spacing: 1px;
	color: #333236;
	opacity: 1;
}
.personalBadges_container .badgeList {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 16px;
}
.personalBadges_container .badgeList .badgeList_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.badgeList .badgeList_item .logo > img {
	width: 99px;
	height: 99px;
}
.badgeList_item .name {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #5d4b35;
	opacity: 1;
}
.badgeList_item .point {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* gap: 8px; */
	width: 77px;
	height: 34px;
	background: #23293b 0% 0% no-repeat padding-box;
	border-radius: 17px;
	opacity: 1;
}
.badgeList_item .point .title {
	text-align: center;
	letter-spacing: 1px;
	color: #03fac9;
	font-size: 12px;
}
.badgeList_item .point .value {
	text-align: center;
	letter-spacing: 0.67px;
	color: #ffffff;
	font-size: 8px;
}
.badgeList_item .badgeName {
	text-align: left;
	font-size: 12px;
	letter-spacing: 1px;
	color: #23293b;
	opacity: 1;
}
/* Styles for personalbadges.tsx - END */

/* Styles for stats.tsx page - START */
.stat_container {
	padding: 16px;
	padding-top: 0px;
}
.stat_container .stat_chart_title {
	color: #333236;
	font: normal normal medium 16px/21px Roboto;
	opacity: 1;
	letter-spacing: 1px;
}
/* Styles for stats.tsx page - END */
